includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - modules/
        - database/
    excludePaths:
        - vendor/*
        - node_modules/*
        - storage/*
        - .env.testing
    tmpDir: storage/framework/cache/phpstan
    configDirectories:
        - modules/Core/Config
